
body {
	background: white;
}
#main {
	position: absolute;
	margin: 0 auto;
	width: 65%;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 18pt;
	color: #1D1D1B;
}
#social {
	text-align: right;
}
#social img {
	height: 30px;
	padding: 5px;
}
