body {
	background: white;
}
#main {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 627px;
	height: 230px;
	overflow: visible;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 18pt;
	color: #1D1D1B;
}
#social {
	text-align: right;
}
#social img {
	height: 30px;
	padding: 5px;
}

